/* Default (Light Theme) */
body {
  --primary-bg: rgb(239, 240, 240);
  --secondary-bg: rgb(255, 255, 255);
  --accent-color: rgb(0, 49, 97);
  --text-color: rgb(0, 11, 88);
  --header-bg: rgba(255, 255, 255, 0.5);
  --footer-bg: white;
  --footer-text: black;
  --button-bg: rgb(0, 49, 97);
  --button-text: rgb(255, 244, 183);
  --overlay-text: white;
}

/* Dark Theme
body[data-theme='light']{
  --primary-bg: rgb(0, 11, 88);
  --secondary-bg: rgb(0, 49, 97);
  --accent-color: rgb(0, 106, 103);
  --text-color: rgb(255, 244, 183);
  --header-bg: rgba(0, 0, 0, 0.8);
  --footer-bg: black;
  --footer-text: white;
  --button-bg: rgb(0, 106, 103);
  --button-text: rgb(0, 11, 88);
  --overlay-text: rgb(255, 244, 183);
} */


/* global */
body {
  background-color: var(--primary-bg);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-bg);
}

.carousel-container {
  position: relative;
  padding: 20px;
}

/* header  */
.header-nav .nav-item .nav-link {
  color: var(--text-color);
  text-decoration:none;
transition: transform 0.2s; /* Add the transform property with transition */
}

.header-nav .nav-item .nav-link:hover {
  transform: scale(1.1); /* Zoom out by 10% on hover (adjust as needed) */
}

.header-nav .nav-item .nav-link.active {
  border-bottom: 2px solid var(--button-bg); /* Add a black border bottom for the active link */
  /* color: black; */
  background-color: transparent;
}

.header-container {
  background-color: var(--header-bg);
  color: var(--text-color);
  position: sticky;
  top: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

/* footer  */
.footer-container {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  padding: 20px;
  min-width: 300px;
}

.footer-section .nav-item .nav-link {
  color: var(--footer-text);
  text-decoration: none;
  transition: transform 0.2s;
}

.footer-section .nav-item .nav-link:hover {
  transform: scale(0.9);
  border-bottom: 2px solid var(--footer-text);
}
