*{
    background-image: url("https://wallpapercave.com/wp/wp2997373.jpg"); 
}
  
  .custom-header {
    background-color: #f8f9fa; /* Replace this with your desired background color */
    color: transparent; /* Set the text color to transparent */
    font-size: 24px; /* Adjust the font size as needed */
    padding: 20px; /* Add padding to create space between content and header */
    margin-bottom: 20px; /* Optional: Add margin to create space below the header */
  }

  /* carousel.css */

  .carousel-item img{
    height: 420px;
    width:1200px;
    object-fit: fill;
    align-items: center;
  }

  /* header */

.header-container {
    background-color: #333; /*Add your desired background color */
    /* background-image: url("./images.worship.jpeg"); */
    color: #fff; /* Set the text color to white */
    padding: 10px 20px; /* Add padding to the header */
    /* background-color: transparent;  */
   
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    margin-right: 10px; /* Add some space between the logo and the logo text */
    border-radius: 50px;
  }
  
  .logo-text {
    font-size: 24px; /* Adjust the font size of the logo text */
    font-weight: bold;
  }

  
  /* Header navigation items styles */
  .header-nav .nav-item .nav-link {
    color: white;
    text-decoration: none;
  transition: transform 0.2s; /* Add the transform property with transition */
  }
  
  .header-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid white;
    transform: scale(1.1); /* Zoom out by 10% on hover (adjust as needed) */
  }

 /* app.css */

/* Header styles */
/* ... (previous header styles) */

/* Footer styles */
.footer-container {
    background-color: #000; /* Set the background color to black */
    color: #fff; /* Set the text color to white */
    padding: 20px;
    min-width: 300px;
   
  }
  
  .footer-section {
    margin-bottom: 2rem;
  }
  
  .footer-section h5 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .footer-section .nav-item .nav-link {
    color: #fff; /* Set the link color to white */
    text-decoration: none;
    transition: transform 0.2s;
  }
  
  .footer-section .nav-item .nav-link:hover {
    transform: scale(0.9);
    border-bottom: 2px solid white;
  }
  

  
  

